# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as perguntas:

### Qual o gênero de filme com maior nota do IMDB? E o menor?

In [8]:
# ADICIONE O SEU CÓDIGO AQUI

import pandas as pd
df = pd.read_csv('movies.csv')

rating_df = df.sort_values(by='IMDB Rating')[['Title', 'Major Genre', 'IMDB Rating']]
datasorted = rating_df.groupby('Major Genre').mean().sort_values('IMDB Rating', ascending=False)

datasorted #O gênero de filme com maior nota do IMDB é o 'Documentary' com média, 6.99. Já o menor é o 'Horror' com média 5.67.

                     IMDB Rating
Major Genre
Documentary             6.997297
Western                 6.842857
Black Comedy            6.818750
Drama                   6.773442
Musical                 6.448000
Thriller/Suspense       6.360944
Adventure               6.345020
Concert/Performance     6.325000
Action                  6.114796
Romantic Comedy         5.873077
Comedy                  5.853858
Horror                  5.676077

### Qual o diretor dirigiu mais filmes de drama? E de comédia?

In [32]:
#df2 = df[['Director', 'Major Genre']].dropna()
#df2
# a.empty, a.bool(), a.item(), a.any() or a.all()

df2 = df[['Director', 'Major Genre']].dropna()
drama = df.loc[df['Major Genre'] == 'Drama']
print(drama['Director'].value_counts().iloc[0:1])

print('============='*3)

comedy = df.loc[df['Major Genre'] == 'Comedy']
print(comedy['Director'].value_counts().iloc[0:1])



cd=0
df2 = df[['Director', 'Major Genre']].dropna()

for df.loc[df['Major Genre'] == 'Drama'] == True:
    cd += 1
    
print(f"Filmes de drama {cd}")

SyntaxError: invalid syntax (3696026367.py, line 19)

In [3]:
# ADICIONE O SEU CÓDIGO AQUI
df(index=['x', 'y'], columns=['a', 'b'])

NameError: name 'df' is not defined

In [44]:
df2 = df[['Director', 'Major Genre']].dropna()
df2

               Director        Major Genre
19         Sidney Lumet              Drama
20        Terry Gilliam              Drama
22     Steven Spielberg             Comedy
25    Richard Fleischer          Adventure
27        Shane Meadows             Comedy
...                 ...                ...
3196        Kevin Smith             Comedy
3197      David Fincher  Thriller/Suspense
3198       Peter Hewitt          Adventure
3199    Martin Campbell          Adventure
3200    Martin Campbell          Adventure

[1762 rows x 2 columns]

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [170]:
# ADICIONE O SEU CÓDIGO AQUI

raised = df[['Title', 'Worldwide Gross', 'Production Budget']].dropna()
raised['Total Raised'] = df['Worldwide Gross'] - df['Production Budget']

# Top 10 filmes que mais arrecadaram em relação ao seu orçamento:
raised.sort_values(('Total Raised'), ascending = False)[0:10]

,Title,Worldwide Gross,Production Budget,Total Raised
1234,Avatar,2.767891e+09,237000000.0,2.530891e+09
2970,Titanic,1.842880e+09,200000000.0,1.642880e+09
2202,The Lord of the Rings: The Return of the King,1.133027e+09,94000000.0,1.039027e+09
485,Jurassic Park,9.230679e+08,63000000.0,8.600679e+08
1975,Harry Potter and the Sorcerer's Stone,9.764579e+08,125000000.0,8.514579e+08
2741,Shrek 2,9.198388e+08,70000000.0,8.498388e+08
2987,Toy Story 3,1.046341e+09,200000000.0,8.463407e+08
2507,Pirates of the Caribbean: Dead Man's Chest,1.065660e+09,225000000.0,8.406598e+08
1266,The Dark Knight,1.022345e+09,185000000.0,8.373454e+08
2201,The Lord of the Rings: The Two Towers,9.262844e+08,94000000.0,8.322844e+08